@charset "UTF-8";

label {
}

.textbox {
    margin:10px 0 10px 0;
    padding:5px;	
    border-radius:5px;
}

#pic {
	box-sizing: border-box;
}

input {
}

.narrow {
	width:20% !important;
}

.red {
	color:red;
}

.green {
	color:green;
}

.form-control {
	height:40px;
}