@charset "UTF-8";

input[type=text],input[type=password],textarea {
    width: 100%;
    padding: 10px 10px;
    margin: 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=text]:focus,input[type=password]:focus,textarea:focus {
    border: 3px solid #555;
}

label {
}

#pic {
	box-sizing: border-box;
	padding: 20px 10px;
}