@charset "UTF-8";

label {
}

.textbox {
    margin:10px 0 10px 0;
    padding:5px;	
    border-radius:5px;
}

#pic {
	box-sizing: border-box;
}

input {
}

.narrow {
	width:20% !important;
}

.red {
	color:red;
}

.green {
	color:green;
}

.form-control {
	height:40px;
}

.product-overlay {
	background:#666;
    opacity:0.7;
}

.right {
	text-align:right;
}

.cart td {
	border-top:solid 1px #ddd;
	border-right:dotted 1px #eee;
	color:#555;
	vertical-align:top;
}

table {
	width:100%;
}

.body img {
	float:left;
	margin:7px;
}